{% extends 'padre.html' %}
{% load static %}
{% block pagina %}Ver Profesores{% endblock %}

{% block contenido %}
<div class="col-md-6 col-lg-4 mb-5">
    <form action="/ver_profesores/" method="get">
        <p>
            <label for="nombre">Nombre del Profesor: </label>
            <input type="text" name="nombre">
            <br />
            <input type="submit" value="Buscar">&nbsp;<a href="{% url 'ProfesorLeer' %}"><button type="button">Buscar Todos</button></a>
        </p>
    </form>
    <p>{{mensaje}}</p>
    
    {% for profesor in resultados %}
        {% if resultados|length > 1 %}
            <h4>Resultado {{forloop.counter}}:</h4>
        {% endif %}
        <p>Nombre: {{profesor.nombre}}</p>
        <p>Apellido: {{profesor.apellido}}</p>
        <p>eMail: {{profesor.email}}</p>
        <p>Profesion: {{profesor.profesion}}</p>
        <br />
        <a class="btn btn-danger" href="{% url 'eliminarProfesores' profesor.nombre profesor.apellido %}">ELIMINAR</a>&nbsp;<a class="btn btn-primary" href="{% url 'editarProfesores' profesor.nombre profesor.apellido %}">EDITAR</a>
        <p><br /></p>
    {% endfor %}
</div>
{% endblock %}